@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;479&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e3e0cf;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #9c9e9d;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.logo {
    cursor: pionter;

}

.nav__links {
    list-style: none;

}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__links li a {
    transition: all 0.3s ease 0s;
    
}

.nav__links li a:hover {
    color: #c5d5cb;
    
}

button {
    padding: 9px 25px;
    background-color: #c5d5cb;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 4px 4px 4px rgb(0,0,0,0.25);
}

button:hover {
    background-color: #c5d5cb;
    
}

