{% extends 'base.html' %}
{% load books_tags %}

{% block content %}

{% get_categories as categories %}
{% for c in categories %}

<div class="container">
    <div class="row ">
        <div class="col gy-5">
            <a href="{{c.get_absolute_url}}">
                <div class="card" style="width: 18rem;">
                    <img src="{{c.photo.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="">{{c.name}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}











{% endblock %}