{% extends 'base.html' %}

{% block content %}
<!-- ласт добавленные книги тут будут -->

<!-- <div class="">
    {% csrf_token %}
    {% for book in books %}
    <a href="{{ book.get_absolute_url }}">
        <p>{{book.title}}</p>
    </a>
    
    {% endfor %}
</div> -->
<!-- <div class="cat">
    {% if cat_selected == 0 %}
    <li class="'selected">All categories</li>
    {% else %}
    <li><a href="{% url 'book' %}">All categories</a></li>
    {% endif %}
    {% for c in cat %}
        <li><a href="{{c.get_absolute_url}}">{{c.name}}</a></li>
    {% endfor %}
</div> -->

{% endblock %}