{% extends 'base.html' %}

{% block content %}


<h1>{{book.title}}</h1>
<h1>{{book.photo}}</h1>
<h1>{{book.photo}}</h1>


<br>
<div class="form-floating">
    <form method="POST" action="{% url 'book-review' book.id %}">
        {% csrf_token %}
        <textarea style="width: 800px"  name="review" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <br>
        <button type="Submit" class="btn btn-outline-primary">Submit</button>
    </form>
  </div>
<br>


<div class="review">
    {% for review in reviews %}
        <h3>{{review.body}}</h3> <p>Time published {{review.post_time_created}}</p> 
        <hr>
    {% endfor %}
</div> 

{% endblock %}